*{margin: 0;padding: 0;}
body {background-color: #4169E1;}
ul{list-style: none;}
/* 手機 box 畫布水平像素為980 */
.box{
	width: 970px;
	margin: 5px auto;
	position: relative;
	background-color: #808000;
}

/*左右箭頭*/
#next, #prev{
	position: absolute;
	width: 76px;
	height: 112px;
	top: -25px;
	background: url(../images/next_1.png) no-repeat 0 0;
	z-index: 5;
}
#next{
	right: 160px;
}
#prev{
	left: 130px;
	background: url(../images/prev_1.png) no-repeat 0 0;
}

.box .content li{
	position: absolute;

}
/* 做出圖片緩慢放大的效果 */
.zoomin {overflow:hidden;}
.zoomin img{transform:scale(1,1);transition: all 0.5s ease-out;}
.zoomin img:hover{transform:scale(1.2,1.2);}

li:hover {
    cursor: pointer;
}

#clt {  position::relative; top:0px; left:0px; 
    height:400px;
    width: 8px;
}
#clt-box2 {
　  position:relative;
    height: 40px;
    width: 5px;
    opacity: 0.7;
}

#clt-box2 a.listen-more-btn {
    position: absolute; top:12px; left:190px;
    font-size: 36px;
    font-weight: 700;
    color: pink;
    display: block;
    width: 560px;
    background: blue;
    text-align: center;
    border-radius: 20px;
    height: 41px;
    line-height: 41px;
    border: 1px solid #f37108;
    zIndex: 5;
}

#clt-box2 a.listen-more-btn:hover{
    background: linear-gradient(to bottom, #ffa600 50%, #f37108 100%);
    color: red; 
    display: block;
    zIndex: 5;
}
/* Because the image has a z-index of -1, it will be placed behind the heading */
.box .content li img{
	width: 100%;
	z-index: -1;
}
.fbRightBox{
    background: url(網頁側邊滑出FB粉絲頁的文字豎寫標籤.png) no-repeat scroll left center transparent!important;
    display: block;
    float: right;
    height: 150px;
    width: 400px;
    position: fixed;
    z-index: 100;
    top: 120px;
    right: -400px;
    padding: 0 0px 0 46px;
    margin: 0;
}
/*可以通过css设置定位
.box .content li.li1{
	width: 300px;
	opacity: 0.4;
	top: 30px;
	left: 50px;
	z-index: 1;
}
.box .content li.li2{
	width: 400px;
	opacity: 0.7;
	top: 100px;
	left: 0;
	z-index: 2;
}
.box .content .li3{
	width: 600px;
	opacity: 1;
	top: 200px;
	left: 200px;
	z-index: 3;
}
.box .content .li4{
	width: 400px;
	opacity: 0.7;
	right: 0;
	top: 100px;
	z-index: 2;
}
.box .content .li5{
	width: 300px;
	opacity: 0.4;
	top: 30px;
	right: 50px;
	z-index: 1;
}
*/
